.buy {
  background-color: rgba(119, 255, 180, 0.521);
  border: solid 1px green;
}

.founded {
  background-color: aqua;
}

#shoppingCart .modal-body ul li:hover {
  background-color: rgba(233, 104, 104, 0.651);
  cursor: pointer;
}
