.buy {
  background-color: rgba(119, 255, 180, 0.521);
  border: solid 1px green;
}

.founded {
  background-color: aqua;
}

#shoppingCart .modal-body ul li:hover {
  background-color: rgba(233, 104, 104, 0.651);
  cursor: pointer;
}

#books-container .card-body .btn-group button:nth-of-type(1):hover {
  background-color: rgba(43, 179, 104, 0.925);
}

#books-container .card-body .btn-group button:nth-of-type(2):hover {
  background-color: rgba(209, 26, 26, 0.651);
}
